/* 盒子阴影 */
$album-box-shadow: rgba(94, 93, 93, 0.5);


/* 背景颜色 */
$card-background-light: #e0e0e0;
$progress-background: #d0d8e6;
$progress-background-current: #a3b3ce;

/* 文字颜色 */
$text-gray: #71829e;
$text-gray-lighter: rgb(176, 186, 202);
/* 图标颜色 */
$icon-gray: rgb(172, 184, 204);
$icon-white: #fff;